<!DOCTYPE html>
<lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The web interface for Kopycat">
        <meta name="author" content="kociumba">
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/styles.css">
        <script defer src="/static/index.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" /> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/@formkit/auto-animate@0.8.2/index.min.js"></script> -->
        <title>Kopycat</title>
    </head>


    <script>

    </script>

    <body>
        <div class="container">
            <header>
                <h1>Kopycat Dashboard</h1>
            </header>
            <main>
                <!-- <section class="status">
                    <h2>Sync Status</h2>
                    <p id="sync-status">Last synced: <span>2 minutes ago</span></p>
                    <div class="progress-bar">
                        <div class="progress" style="width: 75%;"></div>
                    </div>
                </section> -->
                <section class="folders">
                    <h2>Synced Folders</h2>
                    <div>
                        <label for="originPath">Enter Origin Folder Path:</label>
                        <input type="text" id="originPath" placeholder="root/users/username/origin">
                        <label for="destinationPath">Enter Destination Folder Path:</label>
                        <input type="text" id="destinationPath" placeholder="root/users/username/destination">
                        <a class="button" onclick="submitFiles()">Update Sync</a>
                        <!-- <a class="button" onclick="addfolder('C:/Users/', 'D:/backup')">Test button</a> -->
                    </div>
                    <h2>Manage Sync Targets</h2>
                    <!-- <div id="targets-container" hx-get="/get-sync-targets" hx-trigger="load click submitFiles"
                        hx-target="#targets-container"> -->
                    <div id="targets-container" hx-get="/get-sync-targets" hx-trigger="every 1s"
                        hx-target="#targets-container">
                        <!-- Target items will be dynamically added here -->
                        <div class="loading-placeholder"></div>
                    </div>
                </section>
                <section class="settings">
                    <h2>Settings</h2>
                    <label>
                        <div id="current-interval" hx-get="/get-current-interval" hx-trigger="every 1s"
                            hx-target="#current-interval">
                            <div class="loading-placeholder"></div>
                        </div>
                        <select id="sync-interval" onchange="changeInterval()">
                            <option value="600000000000">10 minutes</option>
                            <option value="1800000000000">30 minutes</option>
                            <option value="3600000000000">1 hour</option>
                            <option value="43200000000000">12 hours</option>
                            <option value="86400000000000">24 hours</option>
                        </select>
                    </label>
                </section>
            </main>
            <footer>
                <p>&copy; 2024 Kopycat</p>
            </footer>
        </div>
    </body>