<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The web interface for Kopycat">
    <meta name="author" content="kociumba">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/index.js"></script>
    <script defer src="/static/syntaxHighlight.js"></script>
    <title>Kopycat</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Kopycat Dashboard</h1>
        </header>
        <nav class="main-tabs">
            <button data-main-tab="dashboard" class="active-main-tab">Dashboard</button>
            <button data-main-tab="logs">Logs</button>
        </nav>
        <main>
            <section id="dashboard" class="main-tab-content active">
                <section class="folders">
                    <h2>Synced Folders</h2>
                    <div class="folder-tabs">
                        <button data-folder-tab="tab1" class="active-folder-tab">Manual Config</button>
                        <button data-folder-tab="tab2">Mirror on Drive</button>
                    </div>

                    <div id="tab1" class="folder-tab-content active">
                        <!-- Manual config content -->
                        <label for="originPath1">Enter Origin Folder Path:</label>
                        <input type="text" id="originPath1" placeholder="root/users/username/origin">
                        <label for="destinationPath1">Enter Destination Folder Path:</label>
                        <input type="text" id="destinationPath1" placeholder="root/users/username/destination">
                        <a class="button" onclick="submitFiles()">Update Sync</a>
                    </div>

                    <div id="tab2" class="folder-tab-content">
                        <!-- Mirror on Drive content -->
                        <label for="originPath2">Enter Origin Folder Path:</label>
                        <input type="text" id="originPath2" placeholder="root/users/username/origin">
                        <label for="drives-list">Pick the drive to sync to with the same directory structure:</label>
                        <div id="drives-list" hx-get="/get-system-drives" hx-trigger="load" hx-target="#drives-list">
                            <div class="loading-placeholder"></div>
                        </div>
                        <a class="button" onclick="submitFiles()">Update Sync</a>
                    </div>

                    <h2>Manage Sync Targets</h2>
                    <div id="targets-container" hx-get="/get-sync-targets" hx-trigger="every 1s"
                        hx-target="#targets-container">
                        <div class="loading-placeholder"></div>
                    </div>
                </section>
                <section class="settings">
                    <!-- Settings content -->
                    <h2>Settings</h2>
                    <label>
                        <div id="current-interval" hx-get="/get-current-interval" hx-trigger="every 1s"
                            hx-target="#current-interval">
                            <div class="loading-placeholder"></div>
                        </div>
                        <select id="sync-interval" onchange="changeInterval()">
                            <option value="600000000000">10 minutes</option>
                            <option value="1800000000000">30 minutes</option>
                            <option value="3600000000000">1 hour</option>
                            <option value="43200000000000">12 hours</option>
                            <option value="86400000000000">24 hours</option>
                        </select>
                    </label>
                </section>
            </section>

            <section id="logs" class="main-tab-content">
                <h2>Kopycat Logs</h2>
                <div id="log-section"></div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Kopycat</p>
        </footer>
    </div>
</body>

</html>