<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The web interface for Kopycat">
    <meta name="author" content="kociumba">
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/index.js"></script>
    <script defer src="/static/syntaxHighlight.js"></script>
    <script defer src="/static/logHandler.js"></script>
    <script defer src="/static/handleLocalStorage.js"></script>
    <script defer src="/static/gayToggle.js"></script>
    <title>Kopycat</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Kopycat Dashboard</h1>
            <nav class="main-tabs">
                <button data-main-tab="dashboard" class="active-main-tab">Dashboard</button>
                <button data-main-tab="logs">Logs</button>
            </nav>
        </header>

        <main>
            <section id="dashboard" class="main-tab-content active">
                <section class="folders">
                    <h2>Synced Folders</h2>

                    <!-- Don't display the toggle for now -->
                    <label class="switch" style="display: none;">
                        <input type="checkbox" id="gay-toggle">
                        <span class="slider">
                            <span class="slider-text" data-on="Gay Mode" data-off="Standard Theme"></span>
                        </span>
                    </label>

                    <p class="disclaimer">
                        <strong>Important:</strong> If you just want to mirror a folder structure onto another drive,
                        please use the "Mirror on Drive" tab below.
                        <span class="icon-info"
                            data-tooltip="Kopycat always trys to mirror the folder structure of the origin folder onto the destination folder if provided with just a root or disk volume.">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                                <path d="M12 9h.01" />
                                <path d="M11 12h1v4h1" />
                            </svg>
                        </span>
                    </p>
                    <div class="folder-tabs">
                        <button data-folder-tab="tab1" class="active-folder-tab">Manual Config</button>
                        <button data-folder-tab="tab2">Mirror on Drive</button>
                    </div>

                    <div id="tab1" class="folder-tab-content active">
                        <!-- Manual config content -->
                        <label for="originPath1">Enter Origin Folder Path:</label>
                        <input type="text" id="originPath1" placeholder="root/users/username/origin">
                        <label for="destinationPath1">Enter Destination Folder Path:</label>
                        <input type="text" id="destinationPath1" placeholder="root/users/username/destination">
                        <a class="button" onclick="submitFiles()">Update Sync</a>
                    </div>

                    <div id="tab2" class="folder-tab-content">
                        <!-- Mirror on Drive content -->
                        <label for="originPath2">Enter Origin Folder Path:</label>
                        <input type="text" id="originPath2" placeholder="root/users/username/origin">
                        <label for="drives-list">Pick the drive to sync to with the same directory structure:</label>
                        <div id="drives-list" hx-get="/get-system-drives" hx-trigger="load" hx-target="#drives-list">
                            <div class="loading-placeholder"></div>
                        </div>
                        <a class="button" onclick="submitFiles()">Update Sync</a>
                    </div>

                    <h2>Manage Sync Targets</h2>
                    <div id="targets-container" hx-get="/get-sync-targets" hx-trigger="every 1s"
                        hx-target="#targets-container">
                        <div class="loading-placeholder"></div>
                    </div>
                </section>
                <section class="settings">
                    <!-- Settings content -->
                    <h2>Settings</h2>
                    <label>
                        <div id="current-interval" hx-get="/get-current-interval" hx-trigger="every 1s"
                            hx-target="#current-interval">
                            <div class="loading-placeholder"></div>
                        </div>
                        <select id="sync-interval" onchange="changeInterval()">
                            <option value="600000000000">10 minutes</option>
                            <option value="1800000000000">30 minutes</option>
                            <option value="3600000000000">1 hour</option>
                            <option value="43200000000000">12 hours</option>
                            <option value="86400000000000">24 hours</option>
                        </select>
                    </label>
                </section>
            </section>
            <section id="logs" class="main-tab-content">
                <h2>Kopycat Logs</h2>
                <div id="log-section"></div>
            </section>
        </main>
        <footer>
            <!-- Funny little easter egg 😎 -->
            <div id="gay-toggle" style="cursor: pointer;">
                <p>&copy; 2024 Kopycat</p>
            </div>
        </footer>
    </div>
</body>

</html>