@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --radius: 0.5rem;
    --bg-color: #121212;
    --card-bg-color: #1f1f1f;
    --primary-color: #13995a;
    --secondary-color: #1bad75;
    --text-color: #e0e0e0;
    --header-footer-bg: #2c2c2c;
}

:root::selection {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.loading-placeholder {
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: var(--radius);
    width: 100%;
    height: 1em;
    margin: 1em;
    animation: loading-placeholder 1s infinite;
}

@keyframes loading-placeholder {
    0% {
        background-color: rgba(var(--bg-color), 0.5);
    }

    50% {
        background-color: rgba(112, 112, 112, 0.2);
    }

    100% {
        background-color: rgba(var(--bg-color), 0.5);
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

header,
footer {
    background: var(--header-footer-bg);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: var(--radius);
}

header h1,
footer p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    background: var(--card-bg-color);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #444444;
    border-radius: var(--radius);
    overflow: hidden;
    height: 22px;
    margin-top: 10px;
}

.progress-bar .progress {
    display: block;
    height: 100%;
    background-color: var(--primary-color);
    transition: width 500ms ease-in-out;
}

label,
.text {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--radius);
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.button,
.button:hover {
    display: inline-block;
    padding: 10px 20px;
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: var(--secondary-color);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #3a3a3a;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: var(--radius);
}

#sync-status span {
    color: var(--primary-color);
}

#targets-container {
    margin-top: 20px;
}

.target-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg-color);
    padding: 10px;
    border-radius: var(--radius);
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.target-item span {
    margin-right: 10px;
}

.target-item button {
    background: var(--primary-color);
    border: none;
    color: #ffffff;
    border-radius: var(--radius);
    /* padding: 5px 10px; */
    cursor: pointer;
}

.target-item button:hover {
    background: var(--secondary-color);
}

.tabs-menu {
    display: flex;
    position: relative;
    border-bottom: 2px solid var(--card-bg-color);
    margin-bottom: 0; /* Remove margin-bottom */
}

.tabs-menu button {
    padding: 10px 20px;
    background: var(--card-bg-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--radius) var(--radius) 0 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    top: 2px;
    margin-right: 5px;
    outline: none;
}

.tabs-menu button:hover {
    background: #2a2a2a;
}

.tabs-menu button.active-tab {
    background: var(--bg-color);
    color: var(--primary-color);
    top: 0;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
    z-index: 1;
}

.tab-underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.tab {
    display: none;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0 var(--radius) var(--radius) var(--radius);
    border: 2px solid var(--primary-color);
    border-top: none;
    margin-top: -2px;
}

.tab.active {
    display: block;
}

.tab-underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background: var(--primary-color);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 0; /* Start with zero width */
}

.tab-underline.active {
    transform: scaleX(1);
}